<div class="box">
  <form dir="ltr" class="form">
    <h2>Add Empolyee</h2>
    <div class="rowOne">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Phone</mat-label>
        <input type="text" matInput placeholder="Phone number" />
      </mat-form-field>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Name</mat-label>
        <input type="text" matInput placeholder="Phone number" />
      </mat-form-field>
    </div>
    <div class="rowOne">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="Phone number" />
      </mat-form-field>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="Phone number" />
      </mat-form-field>
    </div>
    <div class="submit-btn">
      <button mat-raised-button color="primary">submit</button>
    </div>
  </form>
</div>
