.box {
  height: 60vh;
  width: 100%;
  h2{
      font-size: 30px;
      margin-bottom: 60px;
  }
  .rowOne {
    margin: 20px 0;
    min-width: 100%;

  }
  mat-label{
      text-align: right;
      color: #f44336;
  }
  .submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    button {
      width: 50% !important;
    }
  }
}
form{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}