<div class="permission">
  <h2>Add Permission</h2>
  <div class="box">
    <section class="section">
      <p>Group A</p>
      <div>
        <mat-checkbox class="margin">G 1</mat-checkbox>
      </div>
      <div>
        <mat-checkbox class="margin">G 2</mat-checkbox>
      </div>
    </section>
    <section class="section">
      <p>Emloyee</p>
      <div>
        <mat-checkbox class="margin">Amr</mat-checkbox>
      </div>
      <div>
        <mat-checkbox class="margin">Ali</mat-checkbox>
      </div>
    </section>
  </div>
  <div class="submit-btn">
    <button mat-raised-button>Add Permission</button>
  </div>
</div>
